<div class="login">
  <h1 class="login__heading">{{ registered ? 'Login' : 'Sign Up' }}</h1>
  <form class="login-form" [formGroup]="formGroup">
    <div class="login-form__block">
      <input
        type="text"
        class="login-form__field"
        formControlName="username"
        placeholder="Username"/>
    </div>
    <div class="login-form__block">
      <input
        type="password"
        class="login-form__field"
        formControlName="password"
        placeholder="Password"/>
    </div>
    @if (formGroup.invalid) {
      <div class="login-form__hint">
        <p>*Username should contain minimum 8 characters, at least one symbol and one number</p>
        <p>*Password should contain minimum 8 characters, at least one symbol, one number, one uppercase letter</p>
      </div>
    }
    <button
      type="button"
      class="login-form__button"
      [disabled]="formGroup.invalid"
      (click)="submit()">{{ registered ? 'Login' : 'Sign Up' }}</button>

    @if (registered) {
      <div class="login-form_register">
        <span class="login-form__text">Already have an account?</span>
        <a class="login-form__link" (click)="navigateToRegister()">Sign up</a>
      </div>
    }
  </form>
</div>